.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.icons {
  display: flex;
}

.icons8Link {
  color: #eaeaea;
}

.icons8Link > a {
  color: #eaeaea;
}

/* My-projects */

.projectsCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

.projectItem {
  border: solid 1px rebeccapurple;
  text-decoration: none;
  text-align: center;
  width: 10em;
  height: 10em;
  margin-bottom: 1em;
  padding: 1em;
}

.projectItem:hover {
  text-decoration: none;
}

.titleProject {
  text-decoration: none;
  color: rebeccapurple;
  font-weight: bold;
  margin-top: 0.2em;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 0.9em;
}
.projectLink {
  text-decoration: none;
  color: rebeccapurple;
  text-align: center;
}

.projectLink img,
.projectItem img {
  display: inline-block;
}

.projectDescription {
  font-size: 0.5em;
  margin-top: 0.6em;
}

.projectsCards div:hover {
  color: black;
  background-color: lightgrey;
  box-shadow: 0.8em 0.8em 0.8em #444;
  border-color: #676768;
}

.projectsCards div:hover .projectLink p:hover,
.projectsCards div:hover .projectLink img:hover,
.projectsCards div:hover .projectLink:hover
{
  text-decoration: none;
  color: white;
}

